name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      TERM: xterm
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Install
        run: echo y | make
        env:
          GIT_USER_NAME: example_user_name
          GIT_USER_EMAIL: example_user_email
      - name: Load bashrc
        run: source ~/.bashrc
      - name: Setup Emacs
        uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
        with:
          version: "30.1"
      - name: Init emacs
        run: make emacs
      - name: Load init.el
        run: emacs --batch --debug-init --load ~/.emacs.d/init.el
